   <h2 mat-dialog-title>Nouveau board</h2>

    <mat-dialog-content>
      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nom du board</mat-label>
          <input matInput formControlName="title" placeholder="Ex: Sprint #3" />
          @if (form.get('title')?.hasError('required')) {
            <mat-error>Nom requis</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Description (optionnelle)</mat-label>
          <textarea matInput formControlName="description" rows="3"
            placeholder="De quoi s'agit-il ?"></textarea>
        </mat-form-field>
      </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Annuler</button>
      <button mat-flat-button
        class="create-button"
        [class.create-button--valid]="form.valid"
        [class.create-button--invalid]="form.invalid"
        [disabled]="form.invalid"
        (click)="confirm()">
        Créer
      </button>
    </mat-dialog-actions>
