<div class="auth-wrapper">
  <app-auth-header/>
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Créer un compte</mat-card-title>
      <mat-card-subtitle>Rejoins TaskFlow</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nom complet</mat-label>
          <input matInput formControlName="name" />
          @if (form.get('name')?.hasError('required')) {
          <mat-error>Nom requis</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          @if (form.get('email')?.hasError('email')) {
          <mat-error>Email invalide</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" type="password" />
          @if (form.get('password')?.hasError('minlength')) {
          <mat-error>8 caractères minimum</mat-error>
          }
        </mat-form-field>

        @if (error) {
        <p class="error-msg">{{ error }}</p>
        }

        <button mat-flat-button color="primary" class="full-width submit-btn" type="submit"
          [disabled]="form.invalid || loading">
          @if (loading) {
          <mat-spinner diameter="20" />
          } @else {
          Créer mon compte
          }
        </button>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <p class="redirect">
        Déjà un compte ?
        <a routerLink="/auth/login">Se connecter</a>
      </p>
    </mat-card-actions>
  </mat-card>
</div>
